// common styling
#root {
  height: 100vh;
  overflow: hidden;
}

.overflow-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.min-h-100 {
  min-height: 100%;
}

.disabled {
  cursor: no-drop;
  opacity: 0.85;
}

.form-label {
  font-weight: bold;
  font-size: $font-size-sm;
  color: $secondary;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// overlay style
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
