// card styling

.card {
  overflow: hidden;
  transition: $transition-base;
  opacity: 0;
  animation: fadeIn 1s forwards;

  &:hover {
    border: 1px solid $primary;
  }

  &-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  &-title {
    color: $primary;
    font-size: 18px;
    font-weight: $font-weight-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-text {
    color: $secondary;
    font-size: $font-size-sm;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  p {
    margin-bottom: 0;
  }
}

// Modal styling
.modal-content {
  overflow: hidden;
}