// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

// Custom variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'base';
@import 'components';
@import 'layouts';
